<p>grid works!</p>

<mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile [colspan]="2" [style.background]="'blue'">
        Tile 1

        <div>

        </div>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="2" [style.background]="'red'">
        Tile 2
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'yellow'">
        Tile 3
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'green'">
        Tile 4
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'purple'">
        Tile 5
    </mat-grid-tile>
    <mat-grid-tile [style.background]="'#FF00AE'">
        Tile 6
    </mat-grid-tile>
</mat-grid-list>